form{
    margin: auto;
    width: 50%;
    padding: 10px;
}
fieldset{
    margin: auto;
    width: 50%;
    border: none;
}
legend{
    font-size: large;
}
.sectionForm{
    margin: 10px;
    padding-bottom: 10px;
}
.indication{
    float: left;
    width: 100px;
    padding-bottom: 5px;
}
div input{
    width: 100%;
}
.submit{
    float: right;
}
.longText{
    width: 100%;
}